<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">I am constantly learning and trying to improve my skills. I decided to start projects showcasing what I had learned. This section is to show how excited I am about what I do and show how I am striving to become a better developer.</p>
    <p>
      <%= link_to 'Learn More about Pablo', about_path, class: 'btn btn-secondary' %>
      <%= link_to 'Keep up with Pablo', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>
