<div class="card about-contact">
  <div class="row body-card">
    <div class="col-md-6">
      <%= image_tag "profile_pic.jpg", width: 400, alt: "Profile Image", class: 'profile-pic' %>
    </div>

    <div class="col-md-6">
      <h1>About Me</h1>
      <p>I am a Web Developer striving to deliver great code. I have come to learn that communication is my biggest tool in trying to achieve my end goal. Clear communication can help translate an idea into a finished project.</p>

      <br>

      <p>Learning how to code is an amazing thing, no matter in what language I am coding in I know that learning is part of the job. There are so many ways to do one thing and that's what makes it a beautiful thing to do. It is not a job, it is something that I've come to love even with the challenges it comes with. If I miss a closing tag or misspell something, just knowing that in the end a couple of keystrokes can display something great makes it all worth it.</p>

      <br>
    </div>
  </div>
</div>
