<div class="card about-contact">
  <div class="row body-card">
    <div class="col-md-6">
      <%= image_tag "profile_pic.jpg", width: 400, alt: "Profile Image", class: 'profile-pic' %>

      <div class="skills">
        <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div
              class="progress-bar progress-bar-striped bg-info"
              role="progressbar"
              style="width: <%= skill.percent_utilized %>%"
              aria-valuenow="<% skill.percent_utilized %>"
              aria-valuemin="0"
              aria-valuemax="100"
              >
            </div>
          </div>
          </div>
        <% end %>
      </div>

    </div>

    <div class="col-md-6">
      <h1>About Me</h1>
      <p>I am a Web Developer striving to deliver great code. I have come to learn that communication is my biggest tool in trying to achieve my end goal. Clear communication can help translate an idea into a finished project.</p>

      <br>

      <p>Learning how to code is an amazing thing, no matter in what language I am coding in I know that learning is part of the job. There are so many ways to do one thing and that's what makes it a beautiful thing to do. It is not a job, it is something that I've come to love even with the challenges it comes with. If I miss a closing tag or misspell something, just knowing that in the end a couple of keystrokes can display something great makes it all worth it.</p>

      <br>

      <p>
        <button
        class="btn btn-primary"
        type="button"
        data-toggle="modal"
        data-target=".bs-education-modal-md"
        >
          Education
        </button>


        <button
        class="btn btn-primary"
        type="button"
        data-toggle="modal"
        data-target=".bs-example-modal-md"
        >
          Awards
        </button>

      </p>


      <p>
        <div class="modal fade bs-education-modal-md" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Education</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>

              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">DevBootcamp</div>
                  <div class="col-md-6 col-md-offset-4">08/2016 - 02/2017</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-6">College of Alameda (Non Degree Holding)</div>
                  <div class="col-md-6 col-md-offset-4">06/2012 - 05/2016</div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel">
          <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Awards</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>

              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">#YESWECODE Scholarship</div>
                  <div class="col-md-6 col-md-offset-4">Jun-2016 </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </p>

    </div>
  </div>
</div>
