<div class="inner cover twit">
  <h1 class="cover-heading">Dev News</h1>
  <div class="row">
    <% @tweets.each do |tweet| %>
      <div class="col-md-6">
        <div class="tech-news">
          <div class="card">
            <%= twitter_parser(tweet) %>
          </div>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>
