<div class="inner cover">
  <h1 class="cover-heading">Pablo Hernandez</h1>
  <p class="lead">I was told it was never too late to do what I love, so I chose to become a Web Developer and help create beautiful things. </p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
